

    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <header class="item header margin-top-0">
        <div class="wrapper">
            <nav class="navbar navbar-inverse  navbar-embossed navbar-lg navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="col-xs-1"></div>
                        <a class=img-pos" class="navbar-brand" href="#"><img  ng-src="./images/smartBrand.gif" height="80px"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="scroll" href="#about"><span>about</span></a></li>
                            <li><a  href="#/register"  ng-if = "!model.user"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="#/login" ng-if = "!model.user"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            <li><a href="#/user/{{model.user._id}}/dashboard" ng-if = "model.user">{{model.user.username}}</a></li>
                            <li><a ng-click="model.logout()" ng-if = "model.user"><span><i class="fa fa-sign-out" aria-hidden="true"></i></span>Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>





        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header admin-header">
                        Dashboard
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3"><i class="fa fa-users fa-5x" aria-hidden="true"></i>
                                </div>

                            </div>
                        </div>
                        <a ng-click = "model.findAllUsers()">
                            <div class="panel-footer">
                                <span class="pull-left">View Users</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>View Products</div>
                                </div>
                            </div>
                        </div>
                        <a ng-click="model.findAllTrackedProducts()">
                            <div class="panel-footer">
                                <span class="pull-left">View Products</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
            <!-- /.row -->
<div id="usersTable" class="row table-responsive " ng-if='model.users'>


    <div class="col-lg-12" >

    <table class="table table-bordered " id="userData">
        <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in model.users" class="info">
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td><button class="alert-danger" ng-click="model.deleteUser(user._id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>


        </tr>
        </tbody>
    </table>
        </div>

</div>





            <div id="productsTable" class="row table-responsive " ng-if='model.products'>

                <div class="col-lg-12"  >

                    <table class="table table-bordered " id="productData">
                        <thead>
                        <tr>
                            <th>Product Title</th>
                            <th> No of Users</th>
                            <th> Product Provider</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in model.products" class="info">
                            <td>{{ product.productTitle }}</td>
                            <td>{{product.users.length}}</td>
                            <td>{{product.productProvider}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>





