<style>
    .btn-posi .btn {
        display: block;
        width: auto;
        margin: 0 auto;
    }

    .dash-button {
        padding-left: 350px;
        text-align: center;
    }

    .back-color{
        background-color: white!important;
    }
.panel-color{
    background-color: lightblue;
}

</style>



<!-- Morris Charts CSS -->
<link href="css/plugins/morris.css" rel="stylesheet">


<!-- Custom Fonts -->



<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>





<!--<left menu>-->
<div class="col-md-3">

    <div class="nav-side-menu">
        <div class="brand dash-color">
            <i class="fa fa-search" aria-hidden="true"></i> <a href="#/user/{{model.uid}}/search">Back to Search</a>
        </div>
        <div class="brand dash-color">
            <button class="title btn-lg btn-block" ng-click="model.showStats()">
                Show Statistics
            </button>
        </div>

        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <br>

                <li ng-repeat="product in model.products" data-toggle="collapse" data-target="#products"
                    class="collapsed active">
                    <button class="title btn-lg btn-block" ng-click="model.showProductDetails(product)">
                        {{product.productTitle}}
                    </button>
                    <!--<button class="title btn-lg hidden-lg hidden-md hidden-sm visible-xs" ng-click="model.showProductDetails(product)">{{product.productTitle}}</button>&ndash;&gt;-->
                </li>
            </ul>
        </div>

    </div>
</div>


<div class="col-md-9 back-color" >
    <!--<header => dashboard></header>-->
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 ">
            <h1>Dashboard</h1>
        </div>
        <div class="col-md-2"></div>
    </div>

    <!--<buttons></body>-->
    <div class="row hidden-xs" id="user-btn">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-4 col-xs-5">
            <div class="panel panel-green panel-color">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{model.productsTracking}}</div>
                            <div>Products Tracked</div>
                        </div>
                    </div>
                </div>
            </div>
        </div >
        <div class="col-md-4 col-xs-5">
            <div class="panel panel-green panel-color">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{model.following}}</div>
                            <div>Users Followed</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-2 col-xs-1"></div>
    </div>


    <div class="row hidden-xs" id="user-data">
        <div class="col-md-4 col-xs-1"></div>
        <div class="col-md-4 col-xs-10">
            <table class="table table-bordered text-center" id="userData">
                <thead >
                <tr>
                    <th class="text-center">Following users</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in model.followingUsers" class="info">
                    <td>{{ user.username }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class=" col-md-4 col-xs-1"></div>
    </div>






    <!--<buttons></body>-->
    <div class="row hidden-sm hidden-md hidden-lg">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <div class="row">
                <div class="alert alert-info">
                    <p>Users Followed:{{model.following}}</p>
                </div>
            </div>
            <div class="row">
                <div class="alert alert-info">
                    <p>Products Tracked: {{model.productsTracking}}</p>
                </div>
            </div>

        </div>
        <div class="col-xs-3"></div>
    </div>
    <!--<body-->
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-8 col-xs-10">


            <div id="prodDetails">

                <div class="row">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            {{product.productTitle}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            {{product.productProvider}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel panel-success" style="text-align: center">
                        <div class="panel-body">
                            <img ng-src="{{product.imageUrl}}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-bordered " id="productDetailsData">
                        <thead>
                        <tr>
                            <th>Product Price</th>
                            <th> Date Tracked</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="details in product.productDetails" class="info">
                            <td>{{ details.price }}</td>
                            <td>{{details.dateCreated | date : "fullDate" }}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="detailBox">
                        <div class="titleBox">
                            <label>Comments</label>
                        </div>
                        <div class="actionBox">
                            <ul class="commentList">
                                <div ng-repeat="comment in product.comments">
                                    <li>
                                        <div class="commenterImage">
                                            <a ng-click="model.getUserProfile(comment.userName)"><img
                                                    src="http://placekitten.com/50/50"/></a>
                                        </div>
                                        <div class="commentText">
                                            <p class="">{{comment.comment}}</p><span class="date sub-text"> {{comment.userName}}</span>
                                        </div>
                                    </li>
                                </div>

                            </ul>
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <input class="form-control" type="text" ng-model="model.comment"
                                           placeholder="Your comments"/>
                                </div>
                                <div class="form-group btn-posi">
                                    <button class="btn btn-success btn-block"
                                            ng-click="model.addCommentToProduct(product.productId,model.comment)">
                                        Add
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <br>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <a class="btn btn-block btn-danger"
                           ng-click="model.stopTrackingProductForUser(product.productId)">Stop tracking</a>
                    </div>
                    <div class="col-xs-3"></div>
                </div>

            </div>
        </div>
        <div class="col-md-2 col-xs-1"></div>

    </div>

</div>

</div>
<!--<div class="col-sm-1 col-md-1">-->

<!--</div>-->
<!--<div class="col-sm-8 col-md-8">-->


<!--<div class="row visible-xs hidden-md hidden-lg hidden-sm">-->

<!--<div class="row">-->
<!--<div class="col-xs-1"></div>-->

<!--<div class="col-xs-10">-->

<!--<h1>Dashboard</h1>-->
<!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--</div>-->

<!--<div class="dashboardHeader">-->
<!--<div class=" hidden-xs visible-sm visible-md visible-lg">-->
<!--<div class="row">-->
<!--<div class="col-md-1"></div>-->

<!--<div class="col-md-10">-->

<!--<h1>Dashboard</h1>-->
<!--</div>-->
<!--<hr>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->


<!--<div class=" hidden-md hidden-lg hidden-sm visible-xs">-->

<!--<div class="col-xs-1"></div>-->
<!--<div class="col-xs-10">-->
<!--<div class="row">-->
<!--<div class="panel panel-success">-->
<!--<div class="panel-body">-->
<!--{{product.productTitle}}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class=" panel panel-success">-->
<!--<div class="panel-body">-->
<!--{{product.productProvider}}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="panel panel-success">-->
<!--<div class="panel-body">-->
<!--<img ng-src="{{product.imageUrl}}">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<table class="table table-bordered " id="productDetailsDataMobile">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Product Price</th>-->
<!--<th> Date Tracked</th>-->

<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="details in product.productDetails" class="info">-->
<!--<td>{{ details.price }}</td>-->
<!--<td>{{details.dateCreated | date : "fullDate" }}</td>-->

<!--</tr>-->
<!--</tbody>-->
<!--</table>-->

<!--</div>-->
<!--<div class="row">-->
<!--<div class="detailBox">-->
<!--<div class="titleBox">-->
<!--<label>Comments</label>-->
<!--</div>-->
<!--<div class="actionBox">-->
<!--<ul class="commentList">-->

<!--<div ng-repeat="comment in product.comments">-->
<!--<li>-->
<!--<div class="commenterImage">-->
<!--<a ng-click="model.getUserProfile(comment.userName)"><img-->
<!--src="http://placekitten.com/50/50"/></a>-->
<!--</div>-->
<!--<div class="commentText">-->
<!--<p>{{comment.comment}}</p> <span-->
<!--class="date sub-text"> {{comment.userName}}</span>-->

<!--</div>-->
<!--</li>-->
<!--</div>-->

<!--</ul>-->
<!--<form class="form-inline" role="form">-->
<!--<div class="form-group">-->
<!--<input class="form-control " type="text" ng-model="model.comment"-->
<!--placeholder="Your comments"/>-->
<!--</div>-->
<!--<div class="form-group btn-posi">-->
<!--<button class="btn btn-success "-->
<!--ng-click="model.addCommentToProduct(product.productId,model.comment)">-->
<!--Add-->
<!--</button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<br>-->


<!--<div class="row">-->
<!--<div class="col-xs-3"></div>-->
<!--<div class="col-xs-6">-->
<!--<a class="btn btn-danger btn-posi">Stop tracking</a>-->
<!--</div>-->
<!--<div class="col-xs-3"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<div id="prodDetails">-->
<!--<div class=" hidden-xs visible-sm visible-md visible-lg">-->
<!--<div class="col-xs-8">-->
<!--<div class="row">-->
<!--<div class="panel panel-success">-->
<!--<div class="panel-body">-->
<!--{{product.productTitle}}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="panel panel-success">-->
<!--<div class="panel-body">-->
<!--{{product.productProvider}}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="  panel panel-success">-->
<!--<div class="panel-body">-->
<!--<img ng-src="{{product.imageUrl}}">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<table class="table table-bordered " id="productDetailsData">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Product Price</th>-->
<!--<th> Date Tracked</th>-->

<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="details in product.productDetails" class="info">-->
<!--<td>{{ details.price }}</td>-->
<!--<td>{{details.dateCreated | date : "fullDate" }}</td>-->

<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="detailBox">-->
<!--<div class="titleBox">-->
<!--<label>Comments</label>-->
<!--</div>-->
<!--<div class="actionBox">-->
<!--<ul class="commentList">-->
<!--<div ng-repeat="comment in product.comments">-->
<!--<li>-->
<!--<div class="commenterImage">-->
<!--<a ng-click="model.getUserProfile(comment.userName)"><img-->
<!--src="http://placekitten.com/50/50"/></a>-->
<!--</div>-->
<!--<div class="commentText">-->
<!--<p class="">{{comment.comment}}</p><span class="date sub-text"> {{comment.userName}}</span>-->
<!--</div>-->
<!--</li>-->
<!--</div>-->

<!--</ul>-->
<!--<form class="form-inline" role="form">-->
<!--<div class="form-group">-->
<!--<input class="form-control" type="text" ng-model="model.comment"-->
<!--placeholder="Your comments"/>-->
<!--</div>-->
<!--<div class="form-group btn-posi">-->
<!--<button class="btn btn-success btn-block"-->
<!--ng-click="model.addCommentToProduct(product.productId,model.comment)">-->
<!--Add-->
<!--</button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<br>-->
<!--<div class="row">-->
<!--<div class="col-xs-3"></div>-->
<!--<div class="col-xs-6">-->
<!--<a class="btn btn-block btn-danger"-->
<!--ng-click="model.stopTrackingProductForUser(product.productId)">Stop tracking</a>-->
<!--</div>-->
<!--<div class="col-xs-3"></div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->