<style>


    .product-details {
        padding-left: 450px;
        padding-top: 60px;
    }

    .dashboardHeader {
        padding-left: 300px;

    }

    a {
        color: #00f;
    }



    @import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

    .detailBox {
        /*width: 720px;*/
        border: 1px solid #bbb;
        margin: 50px;
    }

    .titleBox {
        background-color: #fdfdfd;
        padding: 10px;
    }

    .titleBox label {
        color: #444;
        margin: 0;
        display: inline-block;
    }

    .commentBox {
        padding: 10px;
        border-top: 1px dotted #bbb;
    }

    .commentBox .form-group:first-child, .actionBox .form-group:first-child {
        width: 80%;
    }

    .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
        width: 18%;
    }

    .actionBox .form-group * {
        width: 100%;
    }

    .taskDescription {
        margin-top: 10px 0;
    }

    .commentList {
        padding: 0;
        list-style: none;
        max-height: 200px;
        overflow: auto;
    }

    .commentList li {
        margin: 0;
        margin-top: 10px;
    }

    .commentList li > div {
        display: table-cell;
    }

    .commenterImage {
        width: 30px;
        margin-right: 5px;
        height: 100%;
        float: left;
    }

    .commenterImage img {
        width: 100%;
        border-radius: 50%;
    }

    .commentText p {
        margin: 0;
    }

    .sub-text {
        color: #aaa;
        font-family: verdana;
        font-size: 11px;
    }

    .actionBox {
        border-top: 1px dotted #bbb;
        padding: 10px;
    }

    a{
        color:white;
        underline:none;
    }
a:hover{
    color:white;
    underline:none;
}




</style>


<div class="nav-side-menu">
    <div class="brand">
        <i class="fa fa-dashboard fa-lg"></i> <a href="#/user/{{model.uid}}/search">Back to Search</a>
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
        <br>

        <li ng-repeat="product in model.products" data-toggle="collapse" data-target="#products"
            class="collapsed active">
            <button class="title btn-lg btn-block" ng-click="model.showProductDetails(product)">{{product.productTitle}}</button>
            <!--<button class="title wordwrap_mobile hidden-lg hidden-md hidden-sm visible-xs" ng-click="model.showProductDetails(product)">{{product.productTitle}}</button>-->
        </li>
    </ul>
</div>
</div>

<div class="dashboardHeader hidden-xs visible-sm visible-md visible-lg">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">

            <h1>Dashboard</h1>
        </div>
    </div>
    <hr>
</div>

<div class="row visible-xs hidden-md hidden-lg hidden-sm">

    <div class="row">
        <div class="col-xs-1"></div>

        <div class="col-xs-10">

            <h1>Dashboard</h1>
        </div>
    </div>
    <hr>
</div>



<div ng-show="IsVisible" class="product-detailsMobile hidden-md hidden-lg hidden-sm visible-xs">

    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-body">
                    {{product.productTitle}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" panel panel-success">
                <div class="panel-body">
                    {{product.productProvider}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-success">
                <div class="panel-body">
                    <img ng-src="{{product.imageUrl}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="detailBox">
                <div class="titleBox">
                    <label>Comments</label>
                </div>
                <div class="actionBox">
                    <ul class="commentList">

                        <div ng-repeat="comment in product.comments">
                            <li>
                                <div class="commenterImage">
                                    <a ng-click="model.getUserProfile(comment.userName)"><img src="http://placekitten.com/50/50"/></a>
                                </div>
                                <div class="commentText">
                                    <p class="">{{comment.comment}}</p> <span class="date sub-text"> {{comment.userName}}</span>

                                </div>
                            </li>
                        </div>

                    </ul>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="model.comment"
                                   placeholder="Your comments"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default"
                                    ng-click="model.addCommentToProduct(product.productId,model.comment)">
                                Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <table class="table table-bordered " id="productDetailsDataMobile">
                <thead>
                <tr>
                    <th>Product Price</th>
                    <th> Date Tracked</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="details in product.productDetails" class="info">
                    <td>{{ details.price }}</td>
                    <td>{{details.dateCreated}}</td>

                </tr>
                </tbody>
            </table>

        </div>

        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <a class="btn btn-danger">Stop tracking</a>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</div>


<div ng-show="IsVisible" class="product-details hidden-xs visible-sm visible-md visible-lg">


    <div class="col-xs-8">
        <div class="row">
            <div class="  panel panel-success">
                <div class="panel-body">
                    {{product.productTitle}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="  panel panel-success">
                <div class="panel-body">
                    {{product.productProvider}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="  panel panel-success">
                <div class="panel-body">
                    <img ng-src="{{product.imageUrl}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="detailBox">
                <div class="titleBox">
                    <label>Comments</label>
                </div>
                <div class="actionBox">
                    <ul class="commentList">
                        <div ng-repeat="comment in product.comments">
                            <li>
                                <div class="commenterImage">
                                    <a ng-click="model.getUserProfile(comment.userName)"><img src="http://placekitten.com/50/50"/></a>
                                </div>
                                <div class="commentText">
                                    <p class="">{{comment.comment}}</p><span class="date sub-text"> {{comment.userName}}</span>
                                </div>
                            </li>
                        </div>

                    </ul>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="model.comment"
                                   placeholder="Your comments"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default"
                                    ng-click="model.addCommentToProduct(product.productId,model.comment)">
                                Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <table class="table table-bordered " id="productDetailsData">
                <thead>
                <tr>
                    <th>Product Price</th>
                    <th> Date Tracked</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="details in product.productDetails" class="info">
                    <td>{{ details.price }}</td>
                    <td>{{details.dateCreated}}</td>

                </tr>
                </tbody>
            </table>
        </div>
<br>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <a class="btn btn-block btn-danger" ng-click="model.stopTrackingProductForUser(product.productId)">Stop tracking</a>
            </div>
            <div class="col-xs-3"></div>
        </div>

    </div>
</div>


<canvas id="bar" class="chart chart-bar"
        chart-data="data" chart-labels="labels" chart-series="series">
</canvas>