

<script type="application/x-javascript">
    addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
}, false);
function hideURLbar() {
    window.scrollTo(0, 1);
} </script>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>

<header class="item header margin-top-0">
    <div class="wrapper">
<nav class="navbar navbar-inverse  navbar-embossed navbar-lg navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="col-xs-1"></div>
            <a class=img-pos" class="navbar-brand"><img  ng-src="./images/smartBrand.gif" height="80px"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="scroll" href="#aboutus"><span>about</span></a></li>
                <li><a  href="#/register"  ng-if = "!model.user"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#/login" ng-if = "!model.user"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="#/user/{{model.user._id}}/dashboard" ng-if = "model.user">{{model.user.username}}</a></li>
                <li><a ng-click="model.logout()" ng-if = "model.user"><span><i class="fa fa-sign-out" aria-hidden="true"></i></span>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">

            <div class="text-homeimage">
                    <div class="input-group  ">
                        <input ng-model="model.itemName" type="text" class="form-control search-form " placeholder="Search for...">
                        <span class="input-group-btn"><button  class="btn btn-secondary btn-color search-btn "  ng-click="model.searchByItem(model.itemName)" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
</div>
            </div>
            </div>
        </div>
            </div>

</div>
    </header>


<!-- STEPS =============================-->
<div class="item content">
    <div class="container toparea">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="col editContent">
                    <span class="numberstep"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <h3 class="numbertext">Search your Product</h3>
                    <p>
                        Search any product from amazon or ebay
                    </p>
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.col-md-4 col -->
            <div class="col-md-4 editContent">
                <div class="col">
                    <span class="numberstep"><i class="fa fa-gift"></i></span>
                    <h3 class="numbertext">Select your Product</h3>
                    <p>
                        Select the product that you want to track over time
                    </p>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.col-md-4 col -->
            <div class="col-md-4 editContent">
                <div class="col">
                    <span class="numberstep"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <h3 class="numbertext">Track your product</h3>
                    <p>
                        Find the variation in price for your selected product
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<!-- LATEST ITEMS =============================-->
<section class="item content" id="searchItems">
    <div class="container">

        <div class="row">
            <!-- amazon items-->
            <div class="col-md-4 box" ng-repeat="item in model.amazonItems">
                <div class="productbox" id="prod">
                    <span class="label label-warning label-pos">Amazon</span>

                    <span class="maxproduct " ><img id="itemImage" ng-src="{{item.MediumImage[0].URL[0]}}"  alt=""></span>
                    <div class="product-details">
                        <h3><span class="label label-success lb-lg">{{item.ItemAttributes[0].ListPrice[0].FormattedPrice[0]}}</span></h3>
                        <br>
                        <a href="#">
                            <h1>{{item.ItemAttributes[0].Title[0]}}</h1>
                        </a>

                        <span class="price">
						<span class="edd_price"> <button class="learn-more detailslearn btn-success" ng-click="model.startTrackingItemPriceAmazon(item.ASIN[0], item.ItemAttributes[0].ListPrice[0].FormattedPrice[0], item.ItemAttributes[0].Title[0], item.LargeImage[0].URL[0])">
                            <i class="fa fa-money" aria-hidden="true"></i> Track Price
                        </button> <button  class="learn-more detailslearn btn-info" ng-click="model.showAmazonDetails(item.ASIN[0],model.itemName)"><i class="fa fa-info-circle" aria-hidden="true"></i> More Details</button></span>
						</span>
                        </span>
                    </div>
                </div>
            </div>

            <!-- ebay items-->
            <div class="col-md-4 box" id="ebayItem" ng-repeat="item in model.ebayItems">
                <div class="productbox ">
                    <span class="label label-warning label-pos">ebay</span>
                        <span class="maxproduct helper "><img ng-src="{{item.GalleryURL}}" alt=""></span>
                    <br>
                    <h3><span class="label label-success"> ${{item.ConvertedCurrentPrice.Value}}</span></h3>
                    <div class="product-details">
                        <a href="#">
                            <h1>{{item.Title}}</h1>
                        </a>
                        <span class="price">
						<span class="edd_price"> <button class="learn-more detailslearn btn-success" ng-click="model.startTrackingItemPriceEbay(item.ItemID, item.ConvertedCurrentPrice.Value,item.Title,item.GalleryURL)">
                                <i class="fa fa-money" aria-hidden="true"></i> Track Price </button>
                            <button  class="learn-more detailslearn btn-info" ng-click="model.showEbayDetails(item.ItemID,model.itemName)"><i class="fa fa-info-circle" aria-hidden="true"></i>  More Details</button></span>
						</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
</section>

<div class="item content" id="aboutus" >
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <h2 class="aboutus">About us</h2>
            <div class="slide-text">
                <div>

                    <img src="../../images/myPic.jpg"
                         alt="Awesome Support">
                    <h3 class="aboutus">
                        A passionate web developer and a shopping freak, who is mostly critical of the prices listed after discount.
                        This is an effort to help like minded buyers, by helping myself get good grade in my masters course work.
                        <a href="http://portal-cs5610online.rhcloud.com/" WebDev></a>
                    </h3>


                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER =============================-->
<div class="footer text-center">
    <div class="container">
        <div class="row">

            <p>
                &copy; 2017 Smart Shoppers<br/>
                Scorilo - Free template by <a href="https://www.wowthemes.net/">WowThemesNet</a>
            </p>
        </div>
    </div>
</div>





