<style>
    .button-buffer {
        padding-top: 10px;

    }

    .img-pos{
        text-align:center;
    }

    .btn-pos {
        display:block;
        width:120px;
        margin: 0 auto;
    }

    .alert-height-desktop{
        height:60px;
        text-align: center;

    }
    .alert-height-mobile{
        height:80px;
        text-align: center;
    }
    .arrow-color{
        color:#777;
    }

    .arrow-color a{
        color:#777;
    }
</style>

<div class="container">

    <div class="row">
        <div class="col-xs-1 col-md-1 arrow-color">
            <h2 ng-if ="!model.user"><a href="#/search/{{model.productName}}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></h2>
           <h2 ng-if ="model.user"><a href="#/user/{{model.user._id}}/search/{{model.productName}}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></h2>
            </div>
        <div class="col-xs-10 col-md-10 arrow-color">

            <h2>Product Details</h2>


        </div>
    </div>
    <hr>

        <div class="container hidden-xs visible-sm visible-md visible-lg">
            <div class="row">
                <div class="col-md-8">
   <div ng-show="model.product.tracking ==true" >
    <div class="alert alert-success alert-height-desktop ">
      <p> <b>{{model.product.numberOfPeopleTracking}} People are tracking this product currently!
          Click on Start tracking now</b></p>
        </div>
    </div>


    <div ng-show="model.product.tracking == false" >
        <div class="alert alert-warning alert-height-desktop ">
            <p> Be the first one to track this product!
                Click on Start tracking now</p>
        </div>
    </div>
    </div>
</div>
            </div>

    <div class="container visible-xs hidden-sm hidden-md hidden-lg">
        <div class="row">
            <div class="col-md-8">
                <div ng-show="model.product.tracking ==true" >
                    <div class="alert alert-success alert-height-mobile ">
                        <p> <b>{{model.product.numberOfPeopleTracking}} People are tracking this product currently!
                            Click on Start tracking now</b></p>
                    </div>
                </div>


                <div ng-show="model.product.tracking == false" >
                    <div class="alert alert-warning alert-height-mobile">
                        <p> Be the first one to track this product!
                            Click on Start tracking now</p>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <section class="item content ">
        <div class="container">
            <div class="row" ng-show="model.productProvider=='ebay'">
                <div class="col-md-8">
                    <div class="productbox">
                        <h4> {{model.product.productDetails.Item.Title}}</h4>
                        <div class="img-pos">
                        <img ng-src="{{model.product.productDetails.Item.PictureURL[0]}}" alt="">
                        </div>
                        <div class="clearfix">
                        </div>
                        <br/>
                        <div class="product-details text-left">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-success btn-block">${{model.product.productDetails.Item.ConvertedCurrentPrice.Value}}</a>
                    <div class="properties-box">
                        <ul class="unstyle">
                            <li><b class="propertyname">Category:</b>
                                {{model.product.productDetails.Item.PrimaryCategoryName}}
                            </li>
                            <li><b class="propertyname">Listing Status:</b>
                                {{model.product.productDetails.Item.ListingStatus}}
                            </li>
                            <li><b class="propertyname">Condition:</b>
                                {{model.product.productDetails.Item.ConditionDisplayName}}
                            </li>
                            <li><b class="propertyname">AutoPay:</b> {{model.product.productDetails.Item.AutoPay}}</li>
                            <li><b class="propertyname">Quantity:</b>
                                {{model.product.productDetails.Item.QuantityThreshold}}
                            </li>
                            <br>
                            <li> <a target="_blank" class="btn btn-pos btn-info" href="{{model.product.productDetails.Item.ViewItemURLForNaturalSearch}}">View on Ebay</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>


            <div class="row" ng-show="model.productProvider=='amazon'">
                <div class="col-md-8">
                    <div class="productbox">
                        <h3> {{model.product.productDetails[0].ItemAttributes[0].Title[0]}}</h3>
                        <div class="img-pos">
                        <img ng-src="{{model.product.productDetails[0].LargeImage[0].URL[0]}}" alt="">
                        </div>
                        <div class="clearfix">
                        </div>
                        <br/>
                        <div class="product-details text-left">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-success btn-block">{{model.product.productDetails[0].ItemAttributes[0].ListPrice[0].FormattedPrice[0]}}</a>
                    <div class="properties-box">
                        <ul class="unstyle">
                            <li><b class="propertyname">Category:</b>
                                {{model.product.productDetails[0].ItemAttributes[0].Binding[0]}}
                            </li>
                            <li><b class="propertyname">Manufacturer:</b>
                                {{model.product.productDetails[0].ItemAttributes[0].Manufacturer[0]}}
                            </li>
                            <li><b class="propertyname">Color:</b>
                                {{model.product.productDetails[0].ItemAttributes[0].Color[0]}}
                            </li>
                            <li><b class="propertyname">Warranty:</b>
                                {{model.product.productDetails[0].ItemAttributes[0].ManufacturerPartsWarrantyDescription[0]}}
                            </li>
                            <li><b class="propertyname">Product Group:</b>
                                {{model.product.productDetails[0].ItemAttributes[0].ProductGroup[0]}}
                            </li>
                            <li><b class="propertyname">Product Type:</b>
                                {{model.product.productDetails[0].ItemAttributes[0].ProductTypeName[0]}}
                            </li>
                            <br>
                            <li> <a target="_blank" class=" btn-pos btn btn-info"  href="{{model.product.productDetails[0].DetailPageURL[0]}}">View on Amazon</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>


    </section>

</div>