
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row text-header">
        <!--Left Page-->
        <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs">
            <div class=" col-md-1 col-lg-1 hidden-sm"></div>
            <div class=" col-sm-1 col-md-2 col-lg-2"><a href="#/user/{{model.uid}}/website/"><span class="glyphicon glyphicon-chevron-left"></span></a></div>
            <div class=" col-sm-8 col-md-6 col-lg-6"><div class="text header"><p>Websites</p></div></div>
            <div class=" col-sm-2 col-md-2 col-lg-2 "><div class="pull-right"><a href="#/user/{{model.uid}}/website/new"><span class="glyphicon glyphicon-plus"></span></a></div></div>
            <div class=" col-md-1 col-lg-1 hidden-sm"></div>
        </div>
        <!--Right Page-->
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <!-- left margin -->
            <div class="col-sm-1 col-md-1 col-lg-1 hidden-xs"></div>
            <div class="col-xs-1 hidden-sm hidden-md hidden-lg"><a href="#/user/{{model.uid}}/website/"><span class="glyphicon glyphicon-chevron-left"></span></a></div>

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9"><div class="text header"><p>New Website</p></div> </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><div class="pull-right"><a ng-click="model.addWebsite(model.website)"><span class="glyphicon glyphicon-ok"></span></a></div></div>
            <!-- right margin -->
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
    </div>
</nav>


<form>
    <div class="container-fluid ">
        <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs v-divider">
            <div class="row top-buffer" ng-repeat="website in model.websites">
                <a class="col-sm-1 col-md-1 col-lg-1"></a>
                <a class="col-sm-8 col-md-8 col-lg-8"href="#/user/{{model.uid}}/website/{{website._id}}/page">
                    {{website.name}}</a>
                <a class="col-sm-2 col-md-2 col-lg-2"> <span class="glyphicon glyphicon-cog"></span></a>
            </div>


        </div>

        <div class=" col-sm-8 col-md-8 col-lg-8 col-xs-12 ">
            <div class="row">
                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                <div class=" col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="form-group">
                        <label for="websitename">Name</label>
                        <input type="text" ng-model="model.website.name" class="form-control" id="websitename" placeholder="Name" value="""">
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            </div>
            <div class="row">
                <div class="  col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                <div class="  col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" ng-model ="model.website.description" rows="5" class="form-control" id="description"
                                  placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            </div>
        </div>

    </div>
</form>

<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-9 col-sm-10 col-md-10 text-header"></div>
            <div class="col-xs-1  col-sm-1 col-md-1 text-header">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            <div class="col-xs-1 "></div>
        </div>
    </div>
</nav>
