
<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 text-header ">
                <a  href="#/user/{{model.uid}}/website/{{model.wid}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-10 text-header ">
               Page Edit
            </div>
            <div class="col-xs-1  col-sm-1 col-md-1 text-header">
                <a href="#/user/{{model.uid}}/website/{{model.pages[0].websiteId}}/page">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="col-xs-1 "></div>
        </div>
    </div>
</nav>
<div class="container-fluid">
{{page.name}}
    <form>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <div class="form-group">
                    <label for="pagename">Name</label>
                    <input type="text" ng-model ="model.page.name" class="form-control" id="pagename" placeholder="Name" value="">
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <div class="form-group">
                    <label for="pagetitle">Title</label>
                    <input type="text" class="form-control" id="pagetitle" placeholder="Title" value="Lorem Ipsum is dummy text">
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 button-buffer">
                <a class="btn btn-danger  btn-block" ng-click="model.deletePage(model.page._id)">Delete</a></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
    </form>
</div>



</div>

<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-9 col-sm-10 col-md-10 text-header"></div>
            <div class="col-xs-1  col-sm-1 col-md-1 text-header">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            <div class="col-xs-1 "></div>
        </div>
    </div>
</nav>

