
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1"></div>
        <h1 class="bottom-buffer col-xs-10">Login</h1>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
        <div class="input-group">
            <span class="input-group-addon" id="username"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="username">
        </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
        <div class="input-group ">
            <span class="input-group-addon" id="password"><i class="fa fa-key" aria-hidden="true"></i></span>
            <input type="password" class="form-control" placeholder="Password" aria-describedby="password">
        </div>
            </div>
        <div class="col-xs-1"></div>

    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
        <a class="btn btn-primary btn-block" href="#/profile">Login</a>
        <a class="btn btn-success btn-block" href="#/register">Register</a>
            </div>
        <div class="col-xs-1"></div>
    </div>

</div>
