<div class="container-fluid">

    <div class="row">
        <div class="col-xs-1"></div>
        <div ng-show="model.error" class="alert alert-danger col-xs-10">
            {{model.error}}
        </div>
        <div class="col-xs-1"></div>
    </div>



    <div class="row">
        <div class="col-xs-1"></div>
        <h1 class="bottom-buffer col-xs-10">Login</h1>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon" id="username"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input name="username"
                       ng-model="model.user.username" required
                       ng-class="{ 'error-when' : submitted && myForm.username.$error.required }"
                       class="form-control"
                       placeholder="username"
                       type="text"
                       autocorrect="off"
                       autocapitalize=off"/>
                <span   ng-show="submitted && myForm.username.$error.required"
                        class="err">
            *Required Field
        </span>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="input-group ">
                <span class="input-group-addon" id="password"><i class="fa fa-key" aria-hidden="true"></i></span>
                <input name="password"
                       ng-model="model.user.password" required
                       ng-class="{ 'error-when' : submitted && myForm.password.$error.required }"
                       class="form-control"
                       placeholder="password"
                       type="password"/>
                <span   ng-show="submitted && myForm.password.$error.required"
                        class="err">
            *Required Field
        </span>
            </div>
        </div>
        <div class="col-xs-1"></div>

    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <a class="btn btn-primary btn-block"
               ng-click="model.login(model.user.username,model.user.password);submitted=true">Login</a>
            <a class="btn btn-success btn-block" href="#/register">Register</a>
            <a href="/auth/assignment/facebook" class="btn btn-primary btn-block">
                <span class="fa fa-facebook"></span>
                Facebook
            </a>
        </div>
        <div class="col-xs-1"></div>
    </div>

</div>
