
<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 "></div>
        <div class="col-xs-9 col-sm-10 col-md-10 text-header ">
           Profile
        </div>
        <div class="col-xs-1  col-sm-1 col-md-1 text-header">
            <a href="#/user/{{model.uid}}">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="col-xs-1 "></div>
    </div>
    </div>
</nav>
<div class="container-fluid header-padding">
<form>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <div class="input-group">
                    <span class="input-group-addon" id="username"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" ng-model="model.user.username" class="form-control" placeholder="Username" aria-describedby="username"
                           value="">
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <div class="input-group">
                    <span class="input-group-addon" id="email"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="email" ng-model="model.user.email" class="form-control" placeholder="joe@gmail.com" aria-describedby="email"
                           value="">
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <div class="input-group">
                    <span class="input-group-addon" id="firstname"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" ng-model="model.user.firstName" class="form-control" placeholder="First Name" aria-describedby="firstname"
                           value="">
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <div class="input-group">
                    <span class="input-group-addon" id="lastname"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" ng-model="model.user.lastName" class="form-control" placeholder="Last Name" aria-describedby="lastname"
                           value="">
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>


        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10" >
                <a class="btn btn-primary btn-block"
                   href="#/user/{{model.user._id}}/website">Websites</a>
                <a class="btn btn-danger  btn-block"
                   href="#/login">Logout</a>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>


</form>
</div>
<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-9 col-sm-10 col-md-10 text-header"></div>
            <div class="col-xs-1  col-sm-1 col-md-1 text-header">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            <div class="col-xs-1 "></div>
        </div>
    </div>
</nav>

