
<div class="container-fluid">

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <h1 class="bottom-buffer col-xs-10">Register</h1>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon" id="basic-username"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input ng-model="model.user.username" required
                       ng-class="{ 'error-when' : submitted && myForm.username.$error.required }"
                       name="username"
                       class="form-control"
                       placeholder="username"
                       type="text"/>
                <span ng-show="submitted && myForm.username.$error.required"
                      class="err">
            *Required Field
        </span>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon" id="basic-password"><i class="fa fa-key" aria-hidden="true"></i></span>
                <input ng-model="model.user.password" required
                       ng-class="{ 'error-when' : submitted && model.perror , 'error-also' : submitted && myForm.vpassword.$error.required  }"
                       name="password"
                       class="form-control"
                       placeholder="password"
                       type="password"/>
                <span ng-show="submitted && myForm.password.$error.required"
                      class="err">
            *Required
        </span>
                <span  ng-show="submitted && model.perror"
                       class="err">
            *{{model.perror}}
        </span>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon" id="verify-password"><i class="fa fa-key" aria-hidden="true"></i></span>
                <input ng-model="model.user.verifypassword" required
                       ng-class="{ 'error-when' : submitted && model.perror , 'error-also' : submitted && myForm.verifypassword.$error.required}"
                       name="vpassword"
                       class="form-control"
                       placeholder="verify password"
                       type="password"/>
                <span ng-show="submitted && myForm.vpassword.$error.required"
                      class="err">
            *Required
        </span>
                <span  ng-show="submitted && model.perror"
                       class="err">
            *{{model.perror}}
        </span>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <a class="btn btn-primary btn-block" ng-click="model.register(model.user.username,model.user.password,model.user.verifypassword); submitted=true">Register</a>
            <a class="btn btn-danger  btn-block" href="#/login">Cancel</a>
        </div>

        <div class="col-xs-1"></div>
    </div>
</div>
