
<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 text-header">
                <a  href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-10 text-header ">
                Widget Chooser
            </div>
            <div class="col-xs-1  col-sm-1 col-md-1 text-header">
            </div>
            <div class="col-xs-1 "></div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form class="form-font">
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" ng-click="model.addHeader()">Header</a>
            <a class="col-xs-1"></a>
        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">Label</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" ng-click="model.addHtml()">HTML</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">Text Input</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">Link</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">Button</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
        <a class="col-xs-1"></a>
        <a class="col-xs-10" ng-click="model.addImage()">Image</a>
            <a class="col-xs-1"></a>

    </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" ng-click="model.addYoutube()">You Tube</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">Data Table</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">Repeater</a>
            <a class="col-xs-1"></a>

        </div>



    </form>

</div>


<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-header"></div>
            <div class="col-xs-2 col-sm-2 col-md-2  col-lg-2 text-header">
                <a href="#/user/{{model.uid}}/">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>

        </div>
    </div>
</nav>
