<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Widget Chooser</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 text-header">
                <a  href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-10 text-header ">
                Widget Chooser
            </div>
            <div class="col-xs-1  col-sm-1 col-md-1 text-header">
            </div>
            <div class="col-xs-1 "></div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form class="form-font">
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="widget-heading.view.client.html">Header</a>
            <a class="col-xs-1"></a>
        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">Label</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">HTML</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">Text Input</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">Link</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">Button</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
        <a class="col-xs-1"></a>
        <a class="col-xs-10" href="widget-image.view.client.html">Image</a>
            <a class="col-xs-1"></a>

    </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="widget-youtube.view.client.html">You Tube</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">Data Table</a>
            <a class="col-xs-1"></a>

        </div>
        <div class="row form-buffer">
            <a class="col-xs-1"></a>
            <a class="col-xs-10" href="#">Repeater</a>
            <a class="col-xs-1"></a>

        </div>



    </form>

</div>


<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-header"></div>
            <div class="col-xs-2 col-sm-2 col-md-2  col-lg-2 text-header">
                <a href="../user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>

        </div>
    </div>
</nav>

</body>
</html>