

<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 text-header">
                <a  href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-10 text-header ">
                Widget Edit
            </div>
            <div class="col-xs-1  col-sm-1 col-md-1 text-header">
                <a  ng-click="model.updateWidget()">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="col-xs-1 "></div>
        </div>
    </div>
</nav>
<div class="container-fluid">

        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
        <div class="form-group">
            <label for="widget-image-name">Name</label>
            <input type="text" class="form-control" id="widget-image-name" placeholder="Name" value="">
        </div>
                </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
        <div class="form-group">
            <label for="widget-image-text">Text</label>
            <input type="text" class="form-control" id="widget-image-text" placeholder="Text" value="">
        </div>
                </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
            <div class="form-group ">
            <label for="widget-image-url">URL</label>
            <input type="text" ng-model="model.widget.url" class="form-control" id="widget-image-url" placeholder="Url"
                   value="">
        </div>
                </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
        <div class="form-group">
            <label for="widget-image-width">Width</label>
            <input type="text" ng-model="model.widget.width" class="form-control" id="widget-image-width" placeholder="Width" value="100%">
        </div>
                </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <label >Upload</label>
                <form action="/api/upload"  method="post" enctype="multipart/form-data">
                    <input  name="imageFile"   type="file" class="form-control"/>
                    <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
                    <input  name="userId" value="{{model.uid}}"   style="display: none"/>
                    <input  name="websiteId" value="{{model.wid}}"   style="display: none"/>
                    <input  name="pageId" value="{{model.pid}}"   style="display: none"/>
                    <input  name="widgetId" value="{{model.wgid}}"   style="display: none"/>
                    <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
                </form>
        <!--div class="form-group">
            <label for="widget-image-file">Upload</label>
            <input type="file" class="form-control" id="widget-image-file" placeholder="" value="">
        </div-->
                </div>
            </div>
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 "></div>
                    <div class="col-xs-10 col-sm-10 col-md-10">

                <a class="btn btn-danger button-buffer btn-block " ng-click="model.deleteWidget(model.widget._id)">Delete</a>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>




</div>

<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-9 col-sm-10 col-md-10 text-header"></div>
            <div class="col-xs-1  col-sm-1 col-md-1 text-header">
                <a href="../user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            <div class="col-xs-1 "></div>
        </div>
    </div>
</nav>

