

<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 text-header">
                <a  href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-10 text-header ">
                Widget Edit
            </div>
            <div class="col-xs-1  col-sm-1 col-md-1 text-header">
                <a  ng-click="model.updateWidget()">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="col-xs-1 "></div>
        </div>
    </div>
</nav>
<div class="container-fluid">

    <div class="row">
        <div class="  col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="  col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
    <form>

        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <div class="form-group">
                    <label for="widgetname">Name</label>
                    <input name="name" ng-class="{ 'error-when' : submitted && myForm.model.widget.name.$error.required }"
                           ng-model="model.widget.name" required type="text" class="form-control" id="widgetname" placeholder="Widget    Name">
                    <span ng-show="submitted && myForm.name.$error.required" class="err">
                                    *Required Field
                                </span>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-9 col-sm-10 col-md-10">
                <div class="form-group">
                    <label for="widget-input-text">Text</label>
                    <input type="text"  ng-model="model.widget.text" class="form-control" id="widget-input-text" placeholder="Text Input" value="">
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <div class="form-group">
                    <label for="widget-input-rows">Rows</label>
                    <input type="text" ng-model="model.widget.rows" class="form-control" id="widget-input-rows" placeholder="Rows" value="">
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <div class="form-group ">
                    <label for="widget-input-placeholder">Placeholder</label>
                    <input type="text" ng-model="model.widget.placeholder" class="form-control" id="widget-input-placeholder" placeholder="Placeholder"
                           value="">
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <div class="form-group">
                    <label for="widget-youtube-formatted">Formatted</label>
                    <input ng-model="model.widget.formatted" id ="widget-youtube-formatted" type="checkbox"/>
                </div>
                <a class="btn btn-danger button-buffer btn-block" ng-click="model.deleteWidget(model.widget._id)">Delete</a>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>



    </form>


</div>

<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-9 col-sm-10 col-md-10 text-header"></div>
            <div class="col-xs-1  col-sm-1 col-md-1 text-header">
                <a href="../user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            <div class="col-xs-1 "></div>
        </div>
    </div>
</nav>

