

<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 text-header">
                <a  href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-10 text-header ">
                Widget Edit
            </div>
            <div class="col-xs-1  col-sm-1 col-md-1 text-header">
                <a ng-click="model.editWidget(model.widget._id,model.widget)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="col-xs-1 "></div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
        <div class="form-group">
            <label for="widget-youtube-name">Name</label>
            <input type="text" class="form-control" id="widget-youtube-name" placeholder="Name" value="">
        </div>
                </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            </div>

        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
        <div class="form-group">
            <label for="widget-youtube-text">Text</label>
            <input type="text" class="form-control" id="widget-youtube-text" placeholder="Text" value="">
        </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
        <div class="form-group ">
            <label for="widget-youtube-url">URL</label>
            <input type="text" ng-model="model.widget.url" class="form-control" id="widget-youtube-url" placeholder="Url"
                   value="">
        </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
        <div class="form-group">
            <label for="widget-youtube-width">Width</label>
            <input type="text" ng-model="model.widget.width" class="form-control" id="widget-youtube-width" placeholder="Width" value="">
        </div>
                <a class="btn btn-danger button-buffer btn-block" ng-click="model.deleteWidget(model.widget._id)">Delete</a>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
        </div>
    </form>


</div>

<div class="clearfix"></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-9 col-sm-10 col-md-10 text-header"></div>
            <div class="col-xs-1  col-sm-1 col-md-1 text-header">
                <a href="../user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            <div class="col-xs-1 "></div>
        </div>
    </div>
</nav>

