<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
        <div class="col-xs-6 col-sm-7 col-md-7 col-lg-8 text-header ">
            <b>Project Page</b>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 pull-right">
            <a type="button" class="btn btn-success navbar-btn" href="#/login">Login</a>
            <a type="button" class="btn btn-primary navbar-btn" href="#/register">Register</a>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row" style="padding-top: 160px">
        <div class="col-xs-6 col-sm-7 col-md-7 col-lg-8">
            <div class="input-group">
                <input ng-model="itemName" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
        <button class="btn btn-secondary" ng-click="model.searchByItem(itemName)" type="button">Go!</button>
      </span>
            </div>
        </div>

    </div>


    <div class="block block-container col-xs-4" ng-repeat="item in model.ebayItems" >
        <div class="row">
            <img ng-src="{{item.GalleryURL}}" class="img-fluid"/>
        </div>
        <div class="row">
            {{item.Title}}
        </div>
        <div class="row">
            <button class="btn">Track Price</button>
            <button class="btn" ng-click="showAdvanced($event,item)">More Details</button>
        </div>
    </div>

    <div class="block block-container col-xs-4" ng-repeat="item in model.amazonItems" >
        <div class="row">
            <img ng-src="{{item.SmallImage[0].URL[0]}}" class="img-responsive img-fluid">
        </div>
        <div class="row">
            {{item.ItemAttributes[0].Title[0]}}
        </div>
        <div class="row">
            <button class="btn ">Track Price</button>
            <button class="btn">More Details</button>
        </div>
    </div>


</div>